body {
background-image:url(bg3.png);
}
#header {
background-color:#83dde2;
height:20%;
width:75%;
margin:auto;
}
#menu {
background-color:#8eaebd;
height:20%;
width:75%;
margin:auto;
text-align:inherit;
}
#content {
background-color:#c6f8ff;
height:auto;
width:75%;
margin:auto;
overflow-y:auto;
}
#footer {
background-color:#88bbd6;
height:19%;
width:75%;
margin:auto;
text-align:inherit;
}
#quote {
	background-color:#a3c0ff;
	height:175px;
	width: 370px;
	position:relative:
	right:300px;
}
#cerc {
	background-color:#a3c0ff;
	width:70px;
	height:70px;
	border-radius:100%;
	position:relative;
	right:0px;
	top:33px;
}
a:hover {
	color:#009999;
}
.titlu {
color:rgb(61, 83, 118);
}
h1 {
	padding: 15px;
}
.dropbtn {
    background-color: #30415d;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #abbad4;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #899ec2}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #30415d;
}